<!-- modifying the show template to show the notes related to a book and also provides a form to submit a note -->
<div class="book">
  <%= content_tag :span, "#{@book.name} (#{@book.author})", class: "book-title" %>
  <%= link_to 'Edit', edit_book_path(@book) %>
</div>

<div id="notes">
  <%= render @book.notes %> <!-- invokes the _note.html.erb partial -->
</div>

<div>
  <!-- form_for(object or resource path) generates HTML code to create a form for this resource -->
  <%= form_for([@book, @book.notes.new]) do |f| %> <!-- [@book, @book.notes.new] this come because notes is a nested resourse so we have
    to supply the main resource then the one inside it. in this case @book is the main resource, @book.notes.new is the nested resource path
    for notes -->
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :note %>
      <%= f.text_area :note, size: "25x5"%>
    </div>
    <div class="actions">
      <%= f.submit "Add new note"%>
    </div>
  <% end %>
</div>

<%= link_to 'Back', books_path %>
