<!DOCTYPE html>
<html>
<head>
  <title> <%= yield(:title) %> </title>
  <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        Logged in as <%= current_user.name %>
        (<%= link_to "logout", logout_path, method: :delete %>)
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
<%= yield %> <!-- insert the actual body of whatever template you are viewing now -->
</div>

</body>
</html>
